<div class="site-header">

    <nav class="site-nav">
        {% assign pages = site.pages | sort: 'page' %}
        {% for page in pages %}
          {% if page.title %}

          <a class="page-link" href="{{ page.url | prepend: site.relative-baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </nav>

    <h1>
     <span>
      <a class="site-title" href="{{ site.relative-baseurl }}/"> {{ site.title }}</a>
     </span>
    </h1>
    <h2 class="subtitle">        Korrektorat - Lektorat - Textproduktion
</h2>

</div>
